.details-container{
    display: flex;

}

.job-text{
    max-width: 650px;
}

.bold-text{
    font-weight: 800;
}
.job-text p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    text-align: justify;
    padding: 10px;
}

.job-info{
    max-width: 450px;
    background-color: aquamarine;
    padding: 20px;
}