.job-details-container{
    display: flex;
    justify-content: center;
}

.details-container{
    display: flex;
}
.job-banner{
    width: 100%;
    height: 180px;
    background-color: rgb(246, 233, 246);
}
.job-banner h2{
    margin: 0;
    text-align: center;
    padding-top: 80px;
}

.job-text-area{
    max-width: 650px;
    border: 1px solid rgb(238, 237, 237);
    padding: 15px;
}

.bold-text{
    font-weight: 800;
}
.job-text-area p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    text-align: justify;
    padding: 15px;
}

.job-info{
    max-width: 450px;
    background-color: rgb(222, 249, 240);
    padding: 20px;

}
.btn-apply-now{
    width: 200px;
    padding: 15px;
    margin-top: auto;
    border: 0;
    border-radius: 15px;
    background-color: rgb(136, 136, 235);
    color: white;
    font-size: 20px;
}