.job-details-container{
    display: flex;
    justify-content: center;
}

.details-container{
    display: flex;
}

.job-text{
    max-width: 650px;
    border: 1px solid black;
}

.bold-text{
    font-weight: 800;
}
.job-text p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    text-align: justify;
    padding: 10px;
}

.job-info{
    max-width: 450px;
    background-color: aquamarine;
    padding: 20px;

}
.btn-apply-now{
    width: 200px;
    padding: 15px;
    margin-top: auto;
    border: 0;
    border-radius: 15px;
    background-color: rgb(136, 136, 235);
    color: white;
    font-size: 20px;
}