.featured-title{
    font-size: 2rem;
    text-align: center!important;
}
.featured-text{
    text-align: center;
}

.see-more-btn-container{
    text-align: center;
}
.see-more-btn{
    margin-top: 10px;
}
.featured-job-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    place-items: center;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .featured-job-content {
        display: grid;
        grid-template-columns: auto;
    }
}