.featured-title{
    font-size: 2rem;
    text-align: center!important;
}
.featured-text{
    text-align: center;
}

.see-more-btn-container{
    text-align: center;
}
.see-more-btn{
    margin-top: 10px;
}