.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(230, 245, 230);
    max-width: 600px;
    padding: 10px 20px;
    gap: 15px;
}
.image-container {
    width: 140px;
    height: 80px;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 80%;
}
.job-info-container{
    width: 300px;
    line-height: 10px;
}
.btn-view-details{
    border: none;
    background-color: rgb(184, 247, 206);
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
}
.btn-view-details:hover{
    background-color: rgb(54, 169, 94);
    color: white;
}